*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #e3e6e6;
}
/*     Estilos del header      */
.header{
    background-color: #c7511f;
    color: #fff;
}
/*    Nav superior    */
.headerSuperior{
    width: 100%;
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*     Estiilos a todos los bloques de header   */
.headerSuperior__Logo, .headerSuperiorUbiacion, .headerSuperiorIdentificate, .headerSuperiorIdioma, .headerSuperiorTramites, .headerSuperiorCarrito, .headerInferior__subMenu, .headerInferior__ulItem{
    border: 1px solid transparent;
    height: 95%;
}
.headerSuperior__Logo:hover, .headerSuperiorUbiacion:hover, .headerSuperiorIdentificate:hover, .headerSuperiorIdioma:hover, .headerSuperiorTramites:hover, .headerSuperiorCarrito:hover, .headerInferior__subMenu:hover, .headerInferior__ulItem:hover{
    border-color: #fff;
    cursor: pointer;
}
/*     Logo       */
.headerSuperior__Logo{
    width: 111px;
    height: 45px;
}
.headerSuperiorUbiacion, .headerSuperiorIdentificate, .headerSuperiorIdioma, .headerSuperiorTramites, .headerSuperiorCarrito{
    height: 50px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Bloque de ubicacion "Enviar a" */
.headerSuperiorUbiacion{
    width: 90px;
    height: 50px;
    display: flex;
    font-size: 12px;
    color: #aaa;
}
.headerSuperiorUbiacion__icono{
    width: 15px;
    height: 18px;
}
.headerSuperiorUbiacion__parrafo{
    display: flex;
    flex-direction: column;
}
.headerSuperiorUbiacion__parrafoResaltado, .headerSuperiorIdentificate__parrafoResaltado, .headerSuperiorTramites__parrafoResaltado, .headerSuperiorCarrito__parrafo{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
/*   Bloque de buscador     */
.headerSuperiorBuscar{
    height: 40px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
}
.headerSuperiorBuscar__select, .headerSuperiorBuscar__input, .headerSuperiorBuscar__botton{
    border: none;
    width: 65px;
    height: 100%;
    color: #555;
    background-color: #e6e6e6;
    font-size: 12px;
    position: relative;
    top: -5px;
    text-align: center;
}
.headerSuperiorBuscar__input{
    width: 500px;
    color: #000;
    background-color: #fff;
    font-size: 15px;
    text-align: left;
}
.headerSuperiorBuscar__botton{
    width: 40px;
    top: 0;
    background-color: #febd69;
}
.headerSuperiorBuscar__bottonIcono{
    width: 20px;
}
/*    Bloque de idioma    */
.headerSuperiorIdioma{
    width: 63px;
    display: flex;
    font-size: 13px;
    font-weight: 700;
}
.headerSuperiorIdioma__icono{
    width: 21.6px;
    height: 16.px;
}
/*    Bloque de inicio/registro "Identificate"    */
.headerSuperiorIdentificate{
    width: 120px;
    font-size: 12px;
}
/*    Bloque de tramites de pedidos     */
.headerSuperiorTramites{
    font-size: 12px;
}
.headerSuperiorTramites__parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*   Bloque de compras "CARRITO"    */
.headerSuperiorCarrito{
    display: flex;
    position: relative;
}
.headerSuperiorCarrito__iconoContador{
    color: #e78405;
    font-weight: 700;
    position: absolute;
    left: 25px;
}
/*   Nav inferior    */
.headerInferior{
    width: 100%;
    height: 40px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.headerInferior__subMenu{
    padding: 0 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.headerInferior__subMenuIcono{
    width: 20px;
    height: 20px;
}
.headerInferior__ul{
    list-style: none;
    display: flex;

}
.headerInferior__ulItem{
    height: 38px;
    display: flex;
    margin: 15px;
    align-items: center;
    padding: 0 5px;
}
.headerInferior__ulItemLink{
    text-decoration: none;
    color: #fff;
    font-weight: 100;
}
/*     Estilos del main        */
.mainBanner{
    width: 100%;
    position: absolute;
}
.mainSectionCard{
    width: 100%;
    margin: auto;
    padding-top: 250px;
    position: relative;
}
.mainSectionCardClasiFila-primerFila{
    background: linear-gradient(to bottom, transparent, #e3e6e6);
}
.mainSectionCardClasiFila{
    width: 100%;
    padding: 0 1.5%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainSectionCardClasiFila-x1{
    width: 300px;
    height: 420px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*     Estilos de cards populares */
.mainSectionCardPopular{
    width: 97%;
    height: 281.5px;
    margin: 20px auto;
    background-color: #fff;
}
.mainSectionCardPopular{
    padding: 10px 20px;
}
.mainSectionCardPopular__titulo{
    font-size: 21px;
}
.mainSectionCardPopular__img{
    max-width: 1200px;
    height: 235px;
    display: flex;
    overflow-x: scroll;
}
/*       Estilos des scroll Card de poductos TOP         */
.mainSectionCardPopular__img::-webkit-scrollbar{
    height: 6px;
    border-radius: 5px;
}
.mainSectionCardPopular__img::-webkit-scrollbar:hover{
    cursor: pointer;
}
.mainSectionCardPopular__img::-webkit-scrollbar-thumb{
    background-color: #aaa;
    height: 100%;
    border-radius: 5px;
}
.mainSectionCardPopular__img::-webkit-scrollbar-thumb:hover{
    background-color: #464646;
    cursor: pointer;
}
/*    Seccion Identificate   */
.mainIdentificate{
    width: 100%;
    height: 200px;
    background-color: #fff;
    padding-top: 30px;
}
.mainIdentificate__div{
    width: 100%;
    height: 140px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainIdentificate__divParrafaoSup, .mainIdentificate__divParrafoInf{
    margin: 3px;
    font-size: 13px;
}
.mainIdentificate__divButton{
    width: 230px;
    height: 28px;
    padding: 3px 0;
    font-weight: 700;
    background: linear-gradient(to bottom, #ffd772, #ffc328);
    border: 1px solid #e6a400;
    border-radius: 4px;
}
.mainIdentificate__divButton:hover{
    cursor: pointer;
}
.mainIdentificate__divParrafoInf{
    margin-top: 6px;
    font-size: 11px;
}
.mainIdentificate__divParrafoInfLink{
    text-decoration: none;
    color: #0085b8;
}
.mainIdentificate__divParrafoInfLink:hover{
    color: #c7511f;
    cursor: pointer;
}

/*        Estilos del footer         */
.footer{
    width: 100%;
    height: auto;
    color: #fff;
}
.footerReInicio{
    width: 100%;
    height: 45px;
    background-color: #37475A;
    text-align: center;
}
.footerReInicio:hover{
    cursor: pointer;
    background-color: #485769;
}
.footerReInicioParrafo{
    padding: 15px;
    font-size: 13px;
}
.footerSup{
    width: 100%;
    margin: 0 auto;
    background-color: #232F3E;
}
.footerSup__info{
    width: 80%;
    min-height: 415px;
    padding-top: 50px;
    margin: auto;
    display: flex;

}
.footerSup__infoCard{
    width: auto;
    margin-top: 0;
    margin: 0 3% auto;
}
.footerSup__infoCardTitle{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footerSup__infoCardUl{
    list-style: none;
}
.footerSup__infoCardUlItem{
    margin: 10px 0;
}
.footerSup__infoCardUlItemLink{
    text-decoration: none;
    color: #ddd;
    font-size: 13px;
}
.footerSup__infoCardUlItemLink:hover{
    text-decoration: underline;
}
.footerSup__config{
    width: 100%;
    height: 115px;
    margin: auto;
    border-top: 1px solid #afafaf4f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerSup__configLogo{
    margin-right: 70px;
    width: 90px;
    height: 34.5px;
}
.footerSup__configLang, .footerSup__configCur, .footerSup__configPais{
    display: flex;
    height: 34px;
    margin-right: 4px;
    border: 1px solid #848688;
    border-radius: 3px;
    align-items: center;
}
.footerSup__configLang:hover, .footerSup__configCur:hover, .footerSup__configPais:hover, .footerSup__configLogo:hover{
    cursor: pointer;
}
.footerSup__configLang{
    width: 120px;
}
.footerSup__configLangIcono, .footerSup__configCurIcono, .footerSup__configPaisIcono{
    margin: auto 5px;
}
.footerSup__configLangIcono{
    width: 15px;
    height: 15px;
}
.footerSup__configLangParrafo, .footerSup__configCurParrafo, .footerSup__configPaisParrafo{
    height: 15px;
    display: inline-block;
    font-size: 13px;
    color: #ccc;
}
.footerSup__configCur{
    width: 215.3px;
}
.footerSup__configCurIcono{
    width: 7,6px;
    height: 18px;
}
.footerSup__configPais{
    width: 151.5px;
    margin-right: 0;
}
.footerSup__configPaisIcono{
    width: 18px;
    height: 12px;
}
.footerInf{
    width: 100%;
    margin: 0 auto;
    background-color: #131A22;
}
.footerInf__servCompl{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footerInf__servComplUl{
    width: 100%;
    background-color: #131A22;
    margin: 20px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footerInf__servComplUlItem{
    width: 119px;
    height: 85px;
    margin: 20px;
    display: inline-flex;
}
.footerInf__servComplUlItemLink{
    text-decoration: none;
    color: #999;
    font-size: 13px;
}
.footerInf__servComplUlItemLink:hover{
    text-decoration: underline;
}
.footerInf__servComplUlItemLinkResaltado{
    width: 100%;
    display: inline-block;
    color: #ddd;
}
.footerInf__politicas{
    width: 100%;
    min-height: 60px;
    text-align: center;
}
.footerInf__politicasUl{
    list-style: none;
}
.footerInf__politicasUlItem{
    display: inline-block;
    margin-right: 6px;
}
.footerInf__politicasUlItemLink{
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
}
.footerInf__politicasUlItemIcono{
    width: 29px;
    height: 14;
}
.footerInf__politicasParrafoCopyright{
    color: #ddd;
    font-size: 12px;
}
